<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
        <ion-back-button icon="md-arrow-back" ></ion-back-button>
          </ion-buttons>
      <ion-title>Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
	
	<h4><b>Porções</b></h4>

	<ion-list no-lines>

	<ion-item>
      <ion-label>Mandioca Frita</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="mandioca_frita"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Batata frita</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="batata_frita"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Amendoim'</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="amendoim"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Torresmo</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="torresmo"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Linguiça Acebolada</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="linguica_acebolada"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Bolinho de Arroz</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="bolinho_arroz"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Frango a passarinho</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="frango_passarinho"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Medalhão de Frango</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="medalhao_frango"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Polenta Frita</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="polenta_frita"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Bolinho de Bacalhau</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="bolinho_bacalhau"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Espetinho</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="espetinho"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Tilápia Frita</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="tilapia_frita"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Batata Rústica</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="batata_rustica"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Iscas de Filé</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="iscas_file"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Azeitona Temperada</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="azeitona_temperada"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Tábua de Frios</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="tabua_frios"></ion-checkbox>
    </ion-item>
	
	</ion-list>
</ion-content>

<ion-footer class="ion-padding-bottom">
	<ion-button class="ion-button" expand="block" color="light" (click)="formCalculadoraf()">Continuar</ion-button>
</ion-footer>  
