<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-back-button icon="md-arrow-back" ></ion-back-button>
        </ion-buttons>
    <ion-title>Buffet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid  no-padding>     
        
        <ion-row>
            <ion-col size="7">
              <div align="start"><ion-text [color]="cor1"><b>Alimentos</b></ion-text></div>
            </ion-col>
            <ion-col>
              <div align="start"><ion-text [color]="cor1"><b>Quant.</b></ion-text></div>
            </ion-col>
          </ion-row>
  
  
          <ion-row class="ion-align-items-center">
            <ion-col (click)="formAlterarBuffet(alimento.idListaAlimentos)" size="6">
              <div>{{alimento.Nome}}</div>
            </ion-col>
            <ion-col no-padding>
              <div align="right">100</div>
            </ion-col>
            <ion-col no-padding>
              <div>Unid.</div>
            </ion-col>
            <ion-col no-padding>
              <div align="center"><ion-checkbox color="light" (click)="Situacao(alimento.idListaAlimentos, alimento.Situacao)" [checked]="alimento.Situacao"></ion-checkbox></div>
            </ion-col>
          </ion-row>
  
          <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
          <ion-row>
          <ion-col size="7">
              <div><ion-text [color]="cor2"><b>Bebidas</b></ion-text></div>
            </ion-col>
            <ion-col>
              <div><ion-text [color]="cor2"><b>Quant.</b></ion-text></div>
            </ion-col>
          </ion-row>
  
          <ion-item-sliding *ngFor="let bebida of bebidas">
              <ion-row class="ion-align-items-center">
                <ion-col (click)="formAlterarBuffet(bebida.idListaAlimentos)" size="6">
                  <div>{{bebida.Nome}}</div>
                </ion-col>
                <ion-col no-padding>
                  <div align="right">{{bebida.Quantidade}}</div>
                </ion-col>
                <ion-col no-padding>
                  <div>{{bebida.Unidade}}</div>
                </ion-col>
                <ion-col no-padding>
                  <div align="center"><ion-checkbox (click)="Situacao(bebida.idListaAlimentos, bebida.Situacao)" [checked]="bebida.Situacao" color="light"></ion-checkbox></div>
                </ion-col>
              </ion-row>
            </ion-item-sliding>
        
  
            <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
            <ion-row>
              <ion-col size="7">
                  <div><ion-text [color]="cor3"><b>Doces</b></ion-text></div>
                </ion-col>
                <ion-col>
                  <div><ion-text [color]="cor3"><b>Quant.</b></ion-text></div>
                </ion-col>
              </ion-row>
              
              <ion-item-sliding *ngFor="let doce of doces">
                  <ion-row class="ion-align-items-center">
                    <ion-col (click)="formAlterarBuffet(doce.idListaAlimentos)" size="6">
                      <div>{{doce.Nome}}</div>
                    </ion-col>
                    <ion-col no-padding>
                      <div align="right">{{doce.Quantidade}}</div>
                    </ion-col>
                    <ion-col no-padding>
                      <div>{{doce.Unidade}}</div>
                    </ion-col>
                    <ion-col no-padding>
                      <div align="center"><ion-checkbox (click)="Situacao(doce.idListaAlimentos, doce.Situacao)" [checked]="doce.Situacao" color="light"></ion-checkbox></div>
                    </ion-col>
                  </ion-row>
                </ion-item-sliding>
  
            <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
            <ion-row>
                <ion-col size="7">
                    <div><ion-text [color]="cor4"><b>Outros</b></ion-text></div>
                  </ion-col>
                  <ion-col>
                    <div><ion-text [color]="cor4"><b>Quant.</b></ion-text></div>
                  </ion-col>
                </ion-row>
    
                <ion-item-sliding *ngFor="let outros of outross">
                    <ion-row class="ion-align-items-center">
                      <ion-col (click)="formAlterarBuffet(outros.idListaAlimentos)" size="6">
                        <div>{{outros.Nome}}</div>
                      </ion-col>
                      <ion-col no-padding>
                        <div align="right">{{outros.Quantidade}}</div>
                      </ion-col>
                      <ion-col no-padding>
                        <div>{{outros.Unidade}}</div>
                      </ion-col>
                      <ion-col no-padding>
                        <div align="center"><ion-checkbox (click)="Situacao(outros.idListaAlimentos, outros.Situacao)" [checked]="outros.Situacao" color="light"></ion-checkbox></div>
                      </ion-col>
                    </ion-row>
                  </ion-item-sliding>
          </ion-grid>

</ion-content>

<ion-footer class="ion-padding-bottom">
	  <ion-button class="ion-button" color="light" expand="block"  (click)="formAdicionarBuffet()">Adicionar</ion-button>
</ion-footer>
