<ion-header>
	<ion-toolbar color="light">
		<ion-buttons slot="start">
			<ion-back-button icon="md-arrow-back"></ion-back-button>
		</ion-buttons>
		<ion-title>Calculadora</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

	<h5><b>Informe a quantidade de convidados</b></h5>

	<ion-list>
        <!--Form mbsc-->
		<mbsc-form [options]="formSettings">
		
				<mbsc-stepper [(ngModel)]="homens" color="primary" val="left">Homens
					<span class="mbsc-desc">A partir de 18 anos</span>
				</mbsc-stepper>
				<mbsc-stepper [(ngModel)]="mulheres" color="primary" val="left">Mulheres
					<span class="mbsc-desc">A partir de 18 anos</span>
				</mbsc-stepper>
				<mbsc-stepper [(ngModel)]="adolescentes" color="primary" val="left">Adolescentes
					<span class="mbsc-desc">14-18 anos</span>
				</mbsc-stepper>
				<mbsc-stepper [(ngModel)]="criancas" color="primary"  val="left">Crianças
					<span class="mbsc-desc">4-14 anos</span>
				</mbsc-stepper>
			
		</mbsc-form>
		<!--Fim do form mbsc-->


		<h4 class="padding-top"><b>Informe a duração do evento</b></h4>
		<mbsc-form [options]="formSettings">
		<mbsc-stepper [(ngModel)]="horas" color="primary" step="0.5"  val="left">Horas
		</mbsc-stepper>
	</mbsc-form>

	</ion-list>

</ion-content>

<ion-footer class="ion-padding-bottom">
	<ion-button class="ion-button" expand="block" color="light" (click)="formCalculadorac()">Continuar</ion-button>
</ion-footer>