<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-back-button icon="md-arrow-back" ></ion-back-button>
        </ion-buttons>
    <ion-title>Buffet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <ion-card>
  <ion-list>
     
      <ion-item>
          <ion-label>
			<h2><b>Alterar Buffet</b></h2>
		  </ion-label>
		  <ion-icon slot="end" color="danger" (click)="delBuffet()" name="trash"></ion-icon>

        </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Tipo</ion-label>
      <ion-select multiple="false" cancelText="Cancelar" okText="Selecionar" [(ngModel)]="tipo">
          <ion-select-option value="alimento">Alimento</ion-select-option>
          <ion-select-option value="bebida">Bebida</ion-select-option>
          <ion-select-option value="doce">Doce</ion-select-option>
          <ion-select-option value="outros">Outros</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Unidade</ion-label>
      <ion-select multiple="false" cancelText="Cancelar" okText="Selecionar" [(ngModel)]="unid">
          <ion-select-option value="Unid.">Unid.</ion-select-option>
          <ion-select-option value="kg">Kg</ion-select-option>
          <ion-select-option value="g">g</ion-select-option>
          <ion-select-option value="L">L</ion-select-option>
          <ion-select-option value="ml">ml</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <mbsc-form  lines="none" [options]="formSettings">
        <mbsc-stepper lines="none" [(ngModel)]="quant" color="primary" step="0.5"  val="left">Quantidade
        </mbsc-stepper>
      </mbsc-form>
  </ion-item>
   </ion-list>
   </ion-card>
</ion-content>
<ion-footer class="ion-padding-bottom">
<ion-button class="ion-button" expand="block" color="light" (click)="alterarBuffet()" >Alterar</ion-button>
</ion-footer>  