<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
    <ion-card-title >{{NomeEvento}}</ion-card-title>
    <ion-icon color="light" name="create" slot="end" (click) ="EditarEvento()"></ion-icon>
    <ion-icon color="danger" name="trash" slot="end" (click)="confirmar()"></ion-icon>
  </ion-item>
  <ion-item lines="none">
    <h5>Informações do(a) {{TipoEvento}}</h5>
  </ion-item>
  <ion-card-content>
    O evento {{NomeEvento}} começará no dia {{dia1}}/{{mes1}}/{{year1}} às {{hora1}}:{{minuto1}} e terminará no dia
    {{dia2}}/{{mes2}}/{{year2}} às {{hora2}}:{{minuto2}} 
  </ion-card-content>
    <br>
    <br>
    <ion-item lines="none">
      <h5>Local</h5>
    </ion-item>
    <ion-card-content>
    {{CEP}}
    <br>
    {{Cidade}} - {{Estado}}
    <br>
    {{Bairro}}
    <br>
    {{Endereco}}, {{Numero}}
    <br>
    {{Complemento}}
  </ion-card-content>
  </ion-card>
  
  <ion-button expand="block" padding color="light" (click)="formBuffet(idEvento)">Buffet</ion-button>
  <ion-button expand="block" padding color="light" (click)="formConvidados()">Lista de Convidados</ion-button>
  <ion-button expand="block" padding color="light" (click)="formServico(idEvento)">Serviços</ion-button>

</ion-content>
