<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="http://localhost:8100/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pesquisar Serviço</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="pesquisar" class="ion-button" placeholder="Pesquisar por Serviços" cancelButtonText="Cancelar" animated></ion-searchbar>
  <ion-item lines="none">
    <ion-label>Pesquisar por</ion-label>
    <ion-select [(ngModel)]="tipo" multiple="false" cancelText="Cancelar" okText="Selecionar">
        <ion-select-option value="buffet">Buffet</ion-select-option>
        <ion-select-option value="bebidas">Bebidas</ion-select-option>
        <ion-select-option value="entrtenimento">Entretenimento</ion-select-option>
        <ion-select-option value="seguranca">Segurança</ion-select-option>
        <ion-select-option value="limpeza">Limpeza</ion-select-option>
        <ion-select-option value="todos">Todos</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button class="ion-button"  (click)="pesquisa()" expand="block" color="light">Pesquisar</ion-button>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <h4><b>Sua Pesquisa</b></h4>
  <ion-list>
    <ion-item-sliding *ngFor="let servico of servicos">
        <ion-card>
          <ion-item>
          <ion-card-title (click)="goToPerfilServico(servico.idService)">{{servico.Nome}}</ion-card-title>
        </ion-item>
        <ion-card-content (click)="goToPerfilServico(servico.idService)">{{servico.Tipo}}</ion-card-content>
        <ion-card-content (click)="goToPerfilServico(servico.idService)">{{servico.Descricao}}</ion-card-content>
          
          <ion-card-content></ion-card-content>
          
        </ion-card>
    </ion-item-sliding>
  </ion-list>


  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
