<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button icon="md-arrow-back" ></ion-back-button>
    </ion-buttons>
    <ion-title>Buffet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <ion-card>
 <ion-list>

    <ion-item>
        <ion-label>
    <h2><b>Adicionar Buffet</b></h2>
    </ion-label>
      </ion-item>

    <ion-item lines="none">
      <ion-label  position="floating">Nome</ion-label>
        <ion-input type="text" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Tipo</ion-label>
      <ion-select multiple="false" cancelText="Cancelar" okText="Selecionar" [(ngModel)]="tipo">
          <ion-select-option value="festa">Alimento de Festa</ion-select-option>
          <ion-select-option value="churrasco">Churrasco</ion-select-option>
          <ion-select-option value="porcao">Porções</ion-select-option>
          <ion-select-option value="bebida">Bebida</ion-select-option>
          <ion-select-option value="doce">Doce</ion-select-option>
          <ion-select-option value="suprimento">Suprimentos</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Quantidade</ion-label>
        <ion-input type="number" inputmode="numeric" [(ngModel)]="quant"></ion-input>
    </ion-item>
    <ion-item lines="none"> 
      <ion-label position="floating">Unidade</ion-label>
      <ion-select multiple="false" cancelText="Cancelar" okText="Selecionar" [(ngModel)]="unid">
          <ion-select-option value="Unid.">Unid.</ion-select-option>
          <ion-select-option value="kg">Kg</ion-select-option>
          <ion-select-option value="g">g</ion-select-option>
          <ion-select-option value="L">L</ion-select-option>
          <ion-select-option value="ml">ml</ion-select-option>
      </ion-select>
    </ion-item>
   </ion-list>
   </ion-card>
</ion-content>
<ion-footer class="ion-padding-bottom">
<ion-button class="ion-button" expand="block" color="light" (click)="addBuffet()" >Adicionar</ion-button>
</ion-footer>  