<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Serviços Contratados</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let servico of servicos">
        <ion-card>
          <ion-item>
          <ion-card-title (click)="goToPerfilServico(servico.idService)">{{ servico.Nome}}</ion-card-title>
          <ion-icon  (click)="confirmar(servico.idService, servico.Nome)" color="danger" name="trash" slot="end"></ion-icon>
        </ion-item>
          
          <ion-card-content (click)="goToPerfilServico(servico.idService)">{{servico.Tipo}}</ion-card-content>
          <ion-card-content (click)="goToPerfilServico(servico.idService)">{{servico.Descricao}}</ion-card-content>
        </ion-card>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> 

</ion-content>

<ion-footer 	translucent="true" class="ion-padding-bottom">
  <ion-button class="ion-button" color="light" expand="block" (click)="goToCadastrarServico()">Contratar novo Serviço
  </ion-button>
</ion-footer>