<ion-content class="ion-padding">
  <ion-slides  pager style="width:100%;height:95%;">

    <ion-slide>
      <!--img src="./slide-1.png"/-->
      <h2>Bem-Vindo à <b>FestaJá!</b></h2>
      <br>
      <p>O aplicativo que irá auxilia-lo na organição de um evento, como um churrasco, por exemplo.</p>
    </ion-slide>

    <ion-slide>
      <!--img src="./slide-2.png"/-->
      <h2>Como funciona FestaJá!?</h2>
      <p><b>FestaJá!</b> disponibiliza diversas ferramentas para facilitar e agilizar a organização de um evento.</p>
    </ion-slide>

    <ion-slide>
      <!--img src="./slide-3.png"/-->
      <h2>Quem são seus desenvolvedores?</h2>
      <p><b>FestaJá!</b> foi desenvolvido pelos alunos Daniel Velluto Bento, Jeryhane Munhoz Valente, Larissa Benedicto Gomes e Pedro Henrique Potenza Fernandes.</p>
    </ion-slide>

    <ion-slide>
      <!--img src="./slide-4.png"/-->
      <h2>Pronto para começar?</h2>
      <ion-button (click)="formHome()" fill="clear">Começar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
