<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
		<ion-back-button icon="md-arrow-back" ></ion-back-button>
    </ion-buttons>
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	
	<h4><b>Comidas de festa</b></h4>

	<ion-list no-lines>

		<ion-item *ngFor="let festa of festas">
			<ion-label>{{festa.name}}</ion-label>
			<ion-checkbox slot="end" [(ngModel)]="festa.isChecked"></ion-checkbox>
		  </ion-item>
	</ion-list>
</ion-content>

<ion-footer class="ion-padding-bottom">
			<ion-button class="ion-button" expand="block" color="light" (click)="formCalculadorad()">Continuar</ion-button>
	</ion-footer>  