<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <h4><b>Selecione o evento desejado para o calculo acontecer:</b></h4>
  <ion-list>
    <ion-item-sliding *ngFor="let evento of eventos">
        <ion-card>
          <ion-item>
          <ion-card-title >{{evento.NomeEvento}}</ion-card-title>
        </ion-item>
        <ion-card-content>{{evento.TipoEvento}}</ion-card-content>
        <ion-item>
          <ion-button class="ion-button" color="light" fill="outline" slot="end" (click)="formCalculadorab()">Selecionar</ion-button>
        </ion-item>
        </ion-card>
    </ion-item-sliding>
  </ion-list>

  
<ion-infinite-scroll (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Carregando...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>



</ion-content>

<ion-footer translucent="true" class="ion-padding-bottom">
  <ion-button class="ion-button" color="light" expand="block"  (click)="formCalculadorab()">
    Seguir sem selecionar
  </ion-button>
</ion-footer>