<ion-header>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>FestaJa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-searchbar [(ngModel)]="pesquisar" class="ion-button" placeholder="Pesquisar por Serviços" cancelButtonText="Cancelar" animated></ion-searchbar>
  <ion-item lines="none">
    <ion-label>Pesquisar por</ion-label>
    <ion-select [(ngModel)]="tipo" multiple="false" value="todos" cancelText="Cancelar" okText="Selecionar">
        <ion-select-option value="buffet">Buffet</ion-select-option>
        <ion-select-option value="bebidas">Bebidas</ion-select-option>
        <ion-select-option value="entrtenimento">Entretenimento</ion-select-option>
        <ion-select-option value="seguranca">Segurança</ion-select-option>
        <ion-select-option value="limpeza">Limpeza</ion-select-option>
        <ion-select-option value="todos">Todos</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button class="ion-button" (click)="pesquisa()" expand="block" color="light">Pesquisar</ion-button>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <h4><b>Seus Eventos...</b></h4>
<ion-list>
  <ion-item-sliding *ngFor="let evento of eventos">
      <ion-card bgcolor="green">
        <ion-item>
        <ion-card-title (click)="perfilEvento(evento.idEvento)">{{evento.NomeEvento}}</ion-card-title>
        <ion-icon (click)="confirmar(evento.idEvento, evento.NomeEvento)" color="danger" name="trash" slot="end"></ion-icon>
      </ion-item>
        
        <ion-card-content (click)="perfilEvento(evento.idEvento)">{{evento.TipoEvento}}</ion-card-content>
        <ion-card-content (click)="perfilEvento(evento.idEvento)">Início: {{evento.day1}}/{{evento.month1}}/{{evento.year1}} às {{evento.hour1}}:{{evento.minute1}}</ion-card-content>
        <ion-card-content (click)="perfilEvento(evento.idEvento)">Término: {{evento.day2}}/{{evento.month2}}/{{evento.year2}} às {{evento.hour2}}:{{evento.minute2}}</ion-card-content>     
      </ion-card>
  </ion-item-sliding>
</ion-list>


<ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>

<ion-footer 	translucent="true" class="ion-padding-bottom">
  <ion-button class="ion-button" color="light" expand="block" (click)="pageAdicionarEvento()">
    Adicionar
  </ion-button>
</ion-footer>
